*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(34, 19, 19);
    padding: 3px;
    color: white;
    list-style: none;
    display:flex ;
    align-items:center ;
    justify-content: space-around;
    font-size: 
}
.logo-photo{
    width: 60px;
}
.menus{
    display: flex;

}
.item{
    margin-right: 5px;
    padding-right: 7px;
    font-size: 5px;
    cursor: pointer;
}
.item:hover{
    color: blue;
}