*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

} 

.menu{
    display: flex;
}
.logo{
    width: 120px;
}

.item{
    margin: 10px;
}
